/* src/index.css */
@import "tailwindcss";

@layer base {
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}

html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}

body {
  margin: 0 !important; /* 브라우저 기본 8px 제거 */
  padding: 0 !important;
}

*, *::before, *::after {
  box-sizing: border-box;
}